* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsla(240, 19%, 5%, 0.941);
}

.container {
  width: 700px;
  margin: 50px auto;
}

.listUser__container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
}
